.container {
  display: grid;
  grid-template: 80px 1fr 60px / 200px 1fr 200px;
  height: 100vh;
  padding: 1rem;

  header {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .left-panel {
    grid-column: 1 / 2;
  }

  main {
    grid-column: 2 / 3;
  }

  .right-panel {
    grid-column: 3 / 4;
  }

  footer {
    grid-column: 1 / 4;
  }
}
