.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .form-field {
    display: flex;
    gap: 20px;

    label,
    .header {
      width: 200px;
    }

    .header {
      text-align: center;
    }
  }
}
