.main-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: baseline;

  table {
    thead {
      background-color: var(--chakra-colors-blue-700);
    }
  }

  .table-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .details-table-container {
    .header-row {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      & > :first-child {
        flex-grow: 1;
        text-align: center;
      }
    }

    table {
      max-width: calc(100vw - 400px);
    }
  }

  .pagination-controls-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
  }
}
