.main-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: baseline;
}

.details-table-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.pagination-controls-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
